<div class="hero-image">
  <img src="/images/inspiring-image.jpg" alt="inspiring image">
  <div class="hero-text">
    <h1>Relax.<br>Look around.<br>Make a call.</h1>
    <h2>-Jocko Willink</h2>
  </div>
</div>

<div class="container">
<div class="backdrop">
<div class="content">

<a href="/lead/new" class="button buttonstyle">Add New Lead</a>

<ul class = "sort">
  <li>sort by:</li>
  <li><a href="/lead#main_content" class=<%="bold" if @sort == 'update'%>>last updated</a></li>
  <li><a href="/lead/sort-by-name#main_content" class=<%="bold" if @sort == 'name'%>>company name</a></li>
  <li><a href="/lead/sort-by-status#main_content" class=<%="bold" if @sort == 'status'%>>status</a></li>
  <li><a href="/lead/sort-by-action-date#main_content"  class=<%="bold" if @sort == 'action_date'%>>upcoming tasks</a></li>
</ul>

<div class="lead_list">
  <%for lead in @leads%>
    <a href = "/lead/<%=lead.id%>">
    <div class="lead">
        <div class="item_1">
          <h2><%= lead.company_name %></h2>
          <h3><%= lead.name %></h3>
          <p>last updated on <%= lead.word_date %></p>
        </div>
        <div class="item_2">
          <span class="center">
          <p><%= lead.summary[0,255] %><%=p '...' if lead.summary.length > 255%></p>
          </span>
        </div>
        <div class="item_3 <%=lead.primary_action.status.color%>">
          <div class="center">
            <h3 class="buttonstyle"><%= lead.primary_action.status.name%></h3>
            <p><%= lead.primary_action.word_date%></p>
          </div>
        </div>
    </div>
    </a>
  <%end%>
</div>

<a href="/lead/new" class="button buttonstyle">Add New Lead</a>

</div>
</div>
</div>
