<div class="container no_splash">
<div class="backdrop">
<div class="content">
  <div class= "status_bar">
    <div>
      <h1><%= @lead.company_name %></h1>
      <h2><%= @lead.name %></h2>
    </div>
    <a href="#action_list"><div class= "button  <%=@primary_action.status.color%>">
      <h2 class="buttonstyle <%="underline" if @primary_action.word_date%>"><%= @primary_action.status.name %></h2>
      <p><%= @primary_action.word_date %></p>
    </div></a>
  </div>

  <div>
    <h3>Summary</h3>
    <p><%= @lead.summary %></p>

    <div class= "status_bar buttonstyle">
      <a class="button grey" href="https://<%=@lead.link %>">Post Link</a>
      <a class="button mint" href="/lead/<%=@lead.id%>/edit">Edit Description</a>
    </div>
  </div>
</div>

<div>
  <div id = "action_list">
    <%for action in @actions_list%>
      <div class = "action_list">
        <div class="item_1">
          <h3 class="buttonstyle"><%=action.status.name%></h3>
          <%if action.completed == 'f'%>
          <p>Upcoming</p>
          <%else%>
          <p>Complete</p>
          <%end%>
        </div>

        <div class="item_2">
          <p><%=action.summary%></p>
        </div>

        <div class="item_3">
          <script type="text/javascript">
            function clicked() {
               if (confirm('Do you want to submit?')) {
                   yourformelement.submit();
               } else {
                   return false;
               }
            }
          </script>
          <%if action.completed == 'f'%>
            <%if action.word_date[0,1] == 'O'%>
              <form action="/action/<%=action.id%>/complete" method="get">
                <input type="submit" value= "<%=action.word_date%>" class="formbutton solid red link" onclick="clicked()""/>
              </form>
            <%elsif action.word_date[0,1] == 'D'%>
              <form action="/action/<%=action.id%>/complete" method="get">
                <input type="submit" value= "<%=action.word_date%>" class="formbutton solid mint link"/>
              </form>
            <%end%>
          <%else%>
          <form action="/action/<%=action.id%>/incomplete" method="get">
            <input type="submit" value= "COMPLETED" class="formbutton border link"/>
          </form>
          <%end%>

          <form action="/action/<%=action.id%>/edit" method="get" class="editbutton link">
              <input type="image" src="../images/edit.png" alt="edit" class="image" />
          </form>

          <form action="/action/<%=action.id%>/delete" method="post" class="editbutton link" >
              <input type="image" src="../images/delete.png" alt= "Delete" class="image"/>
          </form>
        </div>

      </div>
    <%end%>

  </div>

  <a href="/action/<%=@lead.id%>/new" class="button buttonstyle">Update Status</a>
</div>
</div>
</div>
