<div class="container no_splash">
<div class="backdrop">
<div class="content">
  <div class= "status_bar">
    <div>
      <h1><%= @lead.company_name %></h1>
      <h2><%= @lead.name %></h2>
    </div>
    <a href="#action_list"><div class= "button  <%=@primary_action.status.color%>">
      <h2 class="buttonstyle underline"><%= @primary_action.status.name %></h2>
      <p><%= @primary_action.word_date %></p>
    </div></a>
  </div>

  <div>
    <h3>Summary</h3>
    <p><%= @lead.summary %></p>

    <div class= "status_bar buttonstyle">
      <a class="button grey" href="https://<%=@lead.link %>">Post Link</a>
      <a class="button mint" href="/lead/<%=@lead.id%>/edit">Edit Description</a>
    </div>
  </div>
</div>

<div>
  <div id = "action_list">
    <%for action in @actions_list%>
      <div class = "action_list">
        <div class="item_1">
          <h3 class="buttonstyle"><%=action.status.name%></h3>
          <%if action.completed == 'f'%>
          <p>Upcoming</p>
          <%else%>
          <p>Complete</p>
          <%end%>
        </div>

        <div class="item_2">
          <p><%=action.summary%></p>
        </div>

        <div class="item_3">
          <p><%=action.word_date%></p>
          <%if action.completed == 'f'%>
          <form action="/action/<%=action.id%>/complete" method="get">
            <input class="mint done_button link" type="submit" value= "Mark Completed"/>
          </form>
          <%else%>
          <form action="/action/<%=action.id%>/incomplete" method="get">
            <input class="grey done_button link" type="submit" value= "COMPLETED"/>
          </form>
          <%end%>
        </div>

        <div class="item_4">

          <form action="/action/<%=action.id%>/edit" method="get">
              <input class="light_grey  formbutton link" type="submit" value= "Edit"/>
          </form>

          <form action="/action/<%=action.id%>/delete" method="post">
              <input class="red formbutton link" type="submit" value= "Delete"/>
          </form>

        </div>

      </div>
    <%end%>

  </div>

  <div>
    <form action = "/action/new" method="post">

      <label for="status_id">Action</label>
      <select id="status" name="status_id">
        <%for status in @status_list%>
          <option value="<%=status.id%>" <%='selected' if @lead && @lead.primary_action == (status.id - 1)%>><%=status.name%></option>
        <%end%>
      </select>

      <label for="date_completed">Date</label>
      <input type="date" name="date_completed" value=<%=Date.today%>>

      <label for = "summary">Summary: </label>
      <textarea name ="summary" rows="4" cols="80"></textarea>

      <label for="completed">Completed: </label>
      <input type="checkbox" name="completed" value="t">

      <input type="hidden" name="lead_id" value=<%=@lead.id%>>

      <input type="submit" value= "New Action"/>
    </form>
  </div>
</div>
</div>
</div>
