<div>
  <div>
    <div>
      <h1><%= @lead.company_name %></h1>
      <h2><%= @lead.name %></h2>
    </div>
    <div>
      <h3>Status: <%= @primary_action.status.name %></h3>
      <p><%= @primary_action.word_date %>
    </div>
  </div>

  <div>
    <h3>Summary</h3>
    <p><%= @lead.summary %></p>

    <div>
      <a href="https://<%=@lead.link %>">Link</a>
      <a href="/lead/<%=@lead.id%>/edit">Edit</a>
    </div>

    <a href="/lead">Back to leads</a>
  </div>
</div>

<div>
  <div>
    <%for action in @actions_list%>
      <div>
        <div class="item_1">
          <h2><%=action.status.name%></h2>
        </div>

        <div class="item_2">
          <p><%=action.summary%></p>
        </div>

        <div class="item_3">
          <h3><%=action.word_date%></h3>
          <%if action.completed == 'f'%>
          <form action="/action/<%=action.id%>/complete" method="get">
            <input type="submit" value= "Mark Complete"/>
          </form>
          <%else%>
          <p>COMPLETE</p>
          <%end%>
        </div>

        <div class="item_4">
          <form action="/action/<%=action.id%>/edit" method="get">
            <input type="submit" value= "Edit"/>
          </form>
          <form action="/action/<%=action.id%>/delete" method="post">
            <input type="submit" value= "Delete"/>
          </form>
        </div>

      </div>
    <%end%>

  </div>

  <div>
    <form action = "/action/new" method="post">

      <label for="status_id">Action</label>
      <select id="status" name="status_id">
        <%for status in @status_list%>
          <option value="<%=status.id%>" <%='selected' if @lead && @lead.primary_action == (status.id - 1)%>><%=status.name%></option>
        <%end%>
      </select>

      <label for="date_completed">Date</label>
      <input type="date" name="date_completed" value=<%=Date.today%>>

      <label for = "summary">Summary: </label>
      <textarea name ="summary" rows="4" cols="80"></textarea>

      <label for="completed">Completed: </label>
      <input type="checkbox" name="completed" value="true">

      <input type="hidden" name="lead_id" value=<%=@lead.id%>>

      <input type="submit" value= "New Action"/>
    </form>
  </div>
</div>
