<div class="container">
<div class="backdrop">
<div class="content">

  <div class= "status_bar">
    <div>
      <h1><%= @lead.name %></h1>
      <h2><%= @lead.company_name %></h2>
    </div>
    <a><div class= "button  <%=@lead.primary_action.status.color%>">
      <h2 class="buttonstyle underline"><%= @lead.primary_action.status.name %></h2>
      <p><%= @lead.primary_action.word_date %></p>
    </div></a>
  </div>

<form class = "action_form" action = "/action/new" method="post">
  <h2>New Status</h2>
  <select id="status" name="status_id">
    <%for status in @status_list%>
      <option value="<%=status.id%>" <%='selected' if @lead.primary_action.status.id == (status.id - 1)%>><%=status.name%></option>
    <%end%>
  </select>

  <h3>Summary</h3>
  <textarea name ="summary" rows="4" cols="80"></textarea>

  <input type="hidden" name="lead_id" value=<%=@lead.id%>>

  <div class="flexbox">
    <label for "date_completed">
      <span><h3>Date</h3></span>
      <input type="date" name="date_completed" value=<%=Date.today%>>
    </label>
    <label for "completed">
      <span><h3>Completed</h3></span>
      <input type="checkbox" name="completed" value="t">
    </label>
  </div>

  <input type="submit" formaction ="/action/new" value= "Save" class="mint buttonstyle"/>
  <input type="submit" formaction ="/lead/<%=@lead.id%>/cancel" value= "Cancel" class="grey buttonstyle"/>

</form>

</div>
</div>
</div>
